@import "./_functions";
@import "./mixins";

/*------------------------------------*\
  Objects > Grid
\*------------------------------------*/

// breakpoints
$breakpoint-small: "only screen and (max-width: 480px)";
$breakpoint-medium: "only screen and (min-width: 481px) and (max-width: 1023px)";
$breakpoint-large: "only screen and (min-width: 1024px)";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.wrapper,
.row {
  @extend %clearfix;
}

[class*="column-"] {
  float: left;
  padding: 0 1em;
  width: 100%;
  min-height: 1px;

  &.col-auto {
    float: none;
    margin: 0 auto;
    clear: both;
  }
}

@for $i from 1 through 12{
  .column-#{$i} {
    width: 100% / 12* $i;
  }
}

@media #{$breakpoint-small} {
  .wrapper {
    width: 100%;
  }
  @for $i from 1 through 12{
    .column-sm-#{$i} {
      width: 100% / 12* $i;
    }
  }
}

@media #{$breakpoint-medium} {
  @for $i from 1 through 12{
    .column-md-#{$i} {
      width: 100% / 12* $i;
    }
  }
}

@media #{$breakpoint-large} {
}
