@import "./_color.scss";

/*------------------------------------*\
  Components > Inputs
\*------------------------------------*/

.form-field {
  p.instructions {
    opacity: 0;
    margin: 0;
    font-size: 11px;
  }

  input:focus + p {
    opacity: 1;
  }

  label {
    font-size: 14px;
    font-weight: 700;
    width: 100%;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  select,
  textarea {
    width: 100%;
  }
}

.search-field {
  position: relative;

  i {
    position: absolute;
    left: 10px;
    top: 13px;
    color: #ccc;
  }
  input[type="text"] {
    text-indent: 35px;
    width: 100%;
  }
}

input[type="text"],
input[type="number"],
input[type="password"],
select,
textarea {
  background-color: #fff;
  border: 0;
  height: 40px;
  border-radius: 6px !important;
  border: 1px solid #ccc;
  //box-shadow: 0 0 5px #CCC !important;
  outline: none;
  text-indent: 10px;

  &:focus {
    border-color: $c-green-dark;
  }

  &.ng-invalid:not(.ng-pristine) {
    border-color: red;
  }

  &.ng-valid.ng-dirty {
    border-color: $c-green-light;
  }
}

.custom-checkbox,
.custom-radio {
  display: block;
  position: relative;
  padding: 4px 10px 0 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox input,
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.custom-checkbox:hover input ~ .checkmark,
.custom-radio:hover input ~ .radiomark {
  border-color: $c-green;
}

.custom-checkbox input:checked ~ .checkmark,
.custom-radio input:checked ~ .radiomark {
  border-color: $c-green;
}

.custom-checkbox .ng-invalid:not(.ng-pristine) ~ .checkmark,
.custom-radio .ng-invalid:not(.ng-pristine) ~ .radiomark,
.custom-checkbox.ng-invalid:not(.ng-pristine) .checkmark {
  border-color: red;
}

.checkmark:after,
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after,
.custom-radio input:checked ~ .radiomark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 5px;
  top: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f00c";
}

.custom-radio .radiomark:after {
  left: 4px;
  top: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f111";
  font-size: 15px;
}