/*------------------------------------*\
  Elements > Links
\*------------------------------------*/

@import './_mixins.scss';
@import './_color.scss';

a {
	text-decoration: none;
	color: $c-green;

	&:hover {
		@include transitioned;
		color: $c-green-dark;
		cursor: pointer;
		text-decoration: underline;
	}

	&.btn {
		&:hover {
			text-decoration: none;
		}
	}

	&:not([href]):not([tabindex]) {
		text-decoration: underline;
	}
}